python==3.6.9
foolbox==2.3.0
h5py==2.10.0
matplotlib==3.2.0
numpy==1.18.4
opencv-python==4.0.0.21
pandas==1.0.4
Pillow==7.0.0
pudb==2019.2
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.9.0
tensorboard==1.8.0
tensorboardX==2.0
tensorflow==1.8.0
tensorflow-estimator==1.14.0
tensorflow-probability==0.9.0
torch==1.4.0
torchattacks==0.9
torchfile==0.1.0
torchnet==0.0.4
torchvision==0.4.2
tqdm==4.31.1